doctype html
html
    head
        title Forget Password
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        script(src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        block stylesheets
    body
        .container
            .row                       
                h2(class="text-center") Forget Password
                div(class="login-form")
                    form(action="/api/forget", method="post")
                        .form-group
                            input(type="email" name="email" class="login-email form-control" placeholder="Email" required="required")
                        .form-group
                            button(type="submit" class="btn btn-primary btn-block") Reset Password

script(src="/js/forgetpassword.js")
script(src="/sweetalert2/dist/sweetalert2.all.min.js")