doctype html
html
    head
        title Reset Password
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        script(src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        block stylesheets
    body
        .container
            .row                       
                h2(class="text-center") Reset Password
                div(class="login-form")
                    form(action="/api/reset", method="post")
                        .form-group
                            label(for='favoriteBook') Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number and has a minimum length of 8 characters. No special characters.
                            input(type="password" name="password" class="login-password form-control" placeholder="Password" required="required")
                        .form-group
                            input(type="password" name="confirmPassword" class="confirm-password form-control" placeholder="Confirm Password" required="required")
                        .form-group
                            input(type="hidden" name="reset-token" class="reset-token" value=token)
                        .form-group
                            button(type="submit" class="btn btn-primary btn-block") Change Password

script(src="/js/resetpassword.js")
script(src="/sweetalert2/dist/sweetalert2.all.min.js")